[submodule "src/libs/assimp"]
	path = src/libs/assimp
	url = https://github.com/assimp/assimp.git
[submodule "src/libs/bullet"]
	path = src/libs/bullet
	url = https://github.com/bulletphysics/bullet3.git
[submodule "src/libs/glad"]
	path = src/libs/glad
	url = https://github.com/Dav1dde/glad.git
	branch = c
[submodule "src/libs/glfw"]
	path = src/libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/libs/glm"]
	path = src/libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "src/libs/stb"]
	path = src/libs/stb
	url = https://github.com/nothings/stb.git
